<!DOCTYPE html>
<head>
	<title>Build Memes</title>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<style>
		img {
			width: 300px;
		}
		div.well {
			text-align: center;
			min-height: 500px;
		}
	</style>
</head>
<body>
  <div class="wrapper">
    <div class="container">
			<div class='hero-unit'>
				<h1>Build Memes</h1>
			</div>
			<div class='row'>
				<div class='span6'>
					<div class='well'>
						<p>Need an image to illustrate your failing build? Have no fear:</p>
						<p><code>&lt;img src='<%= request.base_url %>/f'&gt;</code></p>
						<p><img src='<%= request.base_url %>/f'></p>
					</div>
				</div>
				<div class='span6'>
					<div class='well'>
						<p>If the unthinkable has happened, and your build passes? Whatever:</p>
						<p><code>&lt;img src='<%= request.base_url %>/p'&gt;</code></p>
						<p><img src='<%= request.base_url %>/p'</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<hr/>
    <div class="container">
			Built to power the fail images on the <a href='leftronic.com/share/g/OqF269'>ODI tech dashboard</a>. <a href='https://github.com/theodi/buildmemes'>Open Source</a>.
		</div>
	</footer>
</body>